// Set the accent colour for this project.

$color-accent: #4bb4c5; // CORE blue
$color-accent-10pc: #EDF8F9; // rgb(237, 248, 249);
$color-accent-15pc: #E4F4F6;
$color-accent-30pc: #C9E9EE; // 30% tint of color-accent
